{% extends "page.html" %}


{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{{ super() }}{% endblock %}

{% block content %}

  <div class="homepage layout-{{ homepage_style }}">
    <div id="content" class="container">
      {{ self.flash() }}
    </div>
    <div class="layout layout--twocol-section layout--twocol-section--25-75">
        {% snippet "home/columna_izquierda.html" %}
        {% snippet "home/columna_derecha.html" %}
    </div><!-- End layout--twocol-section layout--twocol-section--25-75 -->
  </div>
{% endblock %}


