{% ckan_extends %}

{% block secondary_content %}
  <div class="filters">
    <div>
    {{ h.snippet('snippets/iepnb_facet_search_operator.html', title= _('Search configuration')) }}
       {% for facet in facet_titles %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, search_facets=search_facets) }}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">{{_('cerrar')}}</span></a>
  </div>
{% endblock %}
