{# % snippet "snippets/language_selector.html" % -#}
	<footer class="footer py-4 iepnb">
		<div class="container">
			<div class="d-flex justify-content-md-between align-items-md-center">
  {# inicio emulación region/region.html.twig #}
    {# inicio emulación block/block--system-menu-block.html.twig #}
  				<div class="settings-tray-editable block block--iepnb-footer" data-drupal-settingstray="editable">
      {# inicio emulación menu/menu--footer.html.twig #}
 					<ul class="nav">
						<li class="nav-item">
							<a href="{{h.iepnb_home()}}/contact" class="nav-link" data-drupal-link-system-path="contact">Contacto</a>
						</li>
						<li class="menu-icon menu-icon-8 nav-item">
							<a href="{{h.iepnb_home()}}/" class="nav-link" data-drupal-link-system-path="&lt;front&gt;"> Accesibilidad</a>
						</li>
						<li class="menu-icon menu-icon-9 nav-item">
							<a href="{{h.iepnb_home()}}/" class="nav-link" data-drupal-link-system-path="&lt;front&gt;">Política de privacidad</a>
						</li>
						<li class="menu-icon menu-icon-10 nav-item">
							<a href="{{h.iepnb_home()}}/" class="nav-link" data-drupal-link-system-path="&lt;front&gt;">Política de cookies</a>
						</li>
						<li class="menu-icon menu-icon-11 nav-item">
							<a href="{{h.iepnb_home()}}/" class="nav-link" data-drupal-link-system-path="&lt;front&gt;">Aviso legal</a>
						</li>
					</ul>
      {# fin emulación menu/menu--footer.html.twig #}
				</div>
    {# fin emulación block/block--system-menu-block.html.twig #}
    
    {# inicio emulación block/block.html.twig #}
				<div class="settings-tray-editable block--type-image block block--image block--logogobierno block-block-content block-block-content227072d1-1b9e-4550-8493-9e1b0b2b6b0f" data-drupal-settingstray="editable">
      {# inicio emulación field/field.html.twig #}
					<div class="field field--name-field-image field--type-entity-reference field--label-hidden field__item">
        {# inicio emulación core/modules/image/templates/image-formatter.html.twig #}
          {# inicio emulación field/image.html.twig #}
						<img src="{{h.iepnb_home()}}/sites/default/files/2022-07/logo_ministerio_bn.png" width="336" height="69" alt="logo gobierno" loading="lazy" typeof="foaf:Image" class="img-fluid" />
          {# fin emulación field/image.html.twig' #}
        {# fin emulación core/modules/image/templates/image-formatter.html.twig #}
					</div>      
      {# fin emulación field/field.html.twig #}
				</div>
    {# fin emulación block/block.html.twig #}
  {# fin emulación region/region.html.twig #}
			</div>
		</div>
	</footer>
  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
