{% ckan_extends %}
{# El bloque page es todo lo que va dentro del body -#}
{% block page -%}
    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
{#- inicio emulación page/page.html.twig #}
      <div class="page">
  {%- block header %}<!-- Bloque header @ page -->
    {% include "header.html" %}
    <!-- Fin bloque header @ page -->
  {% endblock -%}
	<div class="content">
		<div class="container py-4">
  {# inicio emulación region/region.html.twig #}
    {# inicio emulación core/modules/system/templates/block--system-messages-block.html.twig' #}
			<div data-drupal-messages-fallback class="hidden"></div>
    {# fin emulación core/modules/system/templates/block--system-messages-block.html.twig #}
          {% block toolbar %}
            <!-- <div class="toolbar" role="navigation" aria-label="{{ _('Breadcrumb') }}"> -->
              {% block breadcrumb %}
              <!--  Inicio bloque breadcrumb -->
              <div class="layout layout--onecol">
                <div  class="layout__region layout__region--content">
 <!-- THEME DEBUG -->
<!-- THEME HOOK: 'block' -->
<!-- FILE NAME SUGGESTIONS:
   * block--system-breadcrumb-block.html.twig
   * block--system.html.twig
   x block.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/iepnb/templates/block/block.html.twig' -->
                  <div class="block block-system block-system-breadcrumb-block">
<!-- THEME DEBUG -->
<!-- THEME HOOK: 'breadcrumb' -->
<!-- BEGIN OUTPUT from 'themes/custom/iepnb/templates/navigation/breadcrumb.html.twig' -->
                    <nav aria-label="breadcrumb" class="">
                      <ol class="breadcrumb">
                          {% block home_breadcrumb %}
                              {% snippet 'snippets/home_breadcrumb_item.html' %}
                          {% endblock %}
                          {% block breadcrumb_content %}{% endblock %}
                      </ol>
                    </nav>

<!-- END OUTPUT from 'themes/custom/iepnb/templates/navigation/breadcrumb.html.twig' -->
                  </div>
<!-- END OUTPUT from 'themes/custom/iepnb/templates/block/block.html.twig' -->
                </div>
              </div>
              <!--  Fin bloque breadcrumb -->
             {% endblock %}
            <!-- </div> -->
          {% endblock %}
    {# inicio emulación block/block--system-main-block.html.twig #}
            <div class="block block--iepnb-content block-system block-system-main-block">
       {# Me salto el bloque node content/node.html.twig #}
	{% block content %}
<!-- Bloques content @ page -->

       <!-- Bloque super.content @ page -->
    {% block maintag %}<div class="main" id="iepnb_ckan">{% endblock %}
              <div id="content" class="container">
        {% block main_content %}
          {% block flash %}
                <div class="flash-messages">
              {% block flash_inner %}
                {% for message in h.flash.pop_messages() | list %}
                  <div class="alert fade in {{ message.category }}">
                    {{ h.literal(message) }}
                  </div>
                {% endfor %}
              {% endblock %}
                </div>
          {% endblock %}
                <div class="row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %}">
           {% block pre_primary %}
            {% endblock %}

            {% block secondary %}
                  <aside class="secondary col-sm-3">
                {% block secondary_content %}{% endblock %}
                  </aside>
            {% endblock %}

            {% block primary %}
                  <div class="primary col-sm-9 col-xs-12" role="main">
                {% block primary_content %}
                    <article class="module">
                    {% block page_header %}
                      <header class="module-content page-header">
                        {% if self.content_action() | trim %}
                        <div class="content_action">
                            {% block content_action %}{% endblock %}
                        </div>
                        {% endif %}
                        <ul class="nav nav-tabs">
                          {% block content_primary_nav %}{% endblock %}
                        </ul>
                      </header>
                    {% endblock %}
                      <div class="module-content">
                      {% if self.page_primary_action() | trim %}
                        <div class="page_primary_action">
                          {% block page_primary_action %}{% endblock %}
                        </div>
                      {% endif %}
                      {% block primary_content_inner %}
                      {% endblock %}
                      </div>
                    </article>
                {% endblock %}
                  </div>
            {% endblock %}
                </div>
        {% endblock %}
              </div>
            </div>

       <!-- Fin Bloque super.content @ page -->
	<!-- Fin bloque content @ page -->
  {% endblock %}
          </div> <!-- /block--iepnb-content -->
    {# fin emulación block/block--system-main-block.html.twig #}
  {# fin emulación region/region.html.twig #}
        </div> <!-- /container py-4 -->
      </div> <!-- /content -->
  {%- block footer %}<!-- Bloque footer @ page -->
    {% include "footer.html" %}
    <!-- Fin bloque footer @ page -->
  {% endblock -%}
	

</div>
</div>
{# fin emulación page/page.html.twig #}
{% endblock %}

{% block links %}
    <link rel="shortcut icon" href="{{ h.url_for_static(g.favicon) }}" />
   <!-- Fin block links -->
{% endblock -%}

{% block styles %}
    <!-- Inicio block styles -->
    {# {% asset 'ckanext-iepnb/iepnb-css' %} #}
    {% set main_css = h.get_rtl_css() if h.is_rtl_language() else g.main_css %}
    <!-- {{main_css}}-->
    <!-- {{h.is_rtl_language()}} -->
    <!-- {{g.main_css}} -->
    <!-- llamada a super() -->
    {{ super() }}
    <!-- Fin block styles --> 
{% endblock %}
{%- block custom_styles %}
  {{ super() }}
  {% snippet "snippets/external_styles.html" %} 
   <link rel="stylesheet" href="{{ h.url_for_static('css/iepnb.css') }}" />
   {#% if g.debug %}
   <link rel="stylesheet" href="{{ h.url_for_static('css/geo-resource-styles.css') }}" />

   <link rel="stylesheet" href="{{ h.url_for_static('js/vendor/leaflet/1.9.3/leaflet.css') }}" />
   <link rel="stylesheet" href="{{ h.url_for_static('js/vendor/leaflet.draw/0.4.14/leaflet.draw.css') }}" />
   <link rel="stylesheet" href="{{ h.url_for_static('css/spatial_query.css') }}" />
   {%- endif %#}
{% endblock %}
{% block bodytag %} class="node-16 node-type--pagina-interior-simple" {{ super() }} {% endblock %}
{#%- block scripts %}
  {{ super() }}
   <script src="{{ h.url_for_static('js/vendor/leaflet/1.9.3/leaflet.js') }}"></script>
   <script src="{{ h.url_for_static('js/vendor/leaflet.draw/0.4.14/leaflet.draw.js') }}"></script>
   <script src="{{ h.url_for_static('js/common_map.js') }}"></script>
   <script src="{{ h.url_for_static('js/spatial_query.js') }}"></script>  
{% endblock -%#}

