
html {
	font-size: unset;
}

body {
/*	font-size: unset;*/
background:unset;
}

.header.iepnb {
	z-index: 2;
}

.header .navbar {
	border-radius: unset;
	min-height: unset;
	margin-bottom: unset;
	border: unset;
}

.header .navbar-collapse {
	width: unset; 
    border-top: unset;
    box-shadow: unset;
    padding-right: unset;
    padding-left: unset;
    overflow-x: unset;
    border-top: unset;
    box-shadow: unset;
    -webkit-overflow-scrolling: unset;
}

.header .nav-item > a {
	font-size: unset;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: unset;
}

.header .navbar-brand{
	height: unset;
	float: unset;
	padding-right: unset;
	padding-left: unset;
	line-height: unset;
}

.header li
{
	float: unset;
	display: inline-block;
	
}

.header .dropdown:hover .dropdown-menu {
    display: block;
}

footer.iepnb li a {
	position:unset;
	padding: 0.5rem 1rem;
	margin: unset;	
}

.debug {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
}

.breadcrumb {
    -webkit-box-shadow: unset;
    box-shadow: unset;
    position: unset;
    float: unset;
    /*margin: unset;*/
    padding: unset;
    border: unset;
    background: unset;
    font-size: unset;
    border-radius: unset;
}

.breadcrumb li:nth-of-type(n+2)::before {
    float: left;
    padding-right: 0.5rem;
    color: #6c757d;
    content: var(--bs-breadcrumb-divider, "/") /* rtl: var(--bs-breadcrumb-divider, "/") */;
}

.breadcrumb li:nth-of-type(n+2) {
    padding-left: 0.5rem;
}

.breadcrumb li.active {
    color: #6c757d;
}

.breadcrumb a:hover {
	text-decoration:none;
}

.image-4 {
    max-width: 15%;
    padding-right: 10px;
    display: inline-block;
}

.menu_area_privada {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  margin-top: 12px;
  margin-bottom: 12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Raleway, sans-serif;
  color: #000;
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
}

.text_menu_area_privada {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.contenedor_cabecera_secc_generica {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 200px;
    max-height: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-image: url(../../img/cabecera_conocenos.jpg);
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.layout__region--first
{
    padding-left: 10px;
    padding-right: 10px;	
}
.contenedor_links .paragraph span{
    color: #83b62c;
    font-size: 20px;
}
.link_menu_lateral {
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
}

.paragraph {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.paragraph:hover {
  color: #83b62c;
}

.titular_linea_verde {
    margin-bottom: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-left: 10px solid #83b62c;
}
.contenedor_links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.layout__region--first .espaciador
{
	height: 1px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #e5e5e5;
}
.parrafo_catalogo_datos {
    margin-bottom: 0px;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
}
.contenedor_introduccion {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 5% 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.resaltado {
    margin-bottom: 0px;
    padding: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #d5e2be;
}
.contenedor_input_principal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 50px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.input_principal {
    margin-right: 15px;
    margin-bottom: 0px;
    border-radius: 6px;
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.input_principal:focus {
    border-color: #3898EC;
    outline: 0;
}
.contenedor_buscador_datos {
    margin-right: 5%;
    margin-bottom: 40px;
    margin-left: 5%;
}
.contenedor_cabecera_secc_generica.catalogo {
    margin-top: 0px;
    background-image: url(../../img/cabecera_catalogo.jpg);
    background-position: 50% 50%;
}
.columna_etiquetas
{
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #dadada;
    width: 33.33333333%;
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.__layout__region .w_row{
	margin-left: 0;
    margin-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.titulo_etiquetas {
    margin-bottom: 0px;
    padding: 15px;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.head_cabecera_seccion {
    margin-top: 10px;
    margin-right: 10%;
    margin-left: 10%;
    font-family: Raleway, sans-serif;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}
.block--iepnb-content {
  --iepnb-root-font-size: 10px;
  --iepnb-body-font-size: 14px;
  --iepnb-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --iepnb-line-height: 1.42857143;
  --iepnb-color: #333333;
  --iepnb-background-color: #fff;
  font-size: var(--iepnb-body-font-size);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var("Helvetica Neue", Helvetica, Arial, sans-serif);
  line-height: var(--iepnb-line-height);
  color: var(--iepnb-color);
  background-color: var(--iepnb-background-color);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

.block--iepnb-content * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.block--iepnb-content .main {
	padding-top: unset;
}
.block--iepnb-content {
/*  font-family: sans-serif;*/
}
.block--iepnb-content h1.catalogo_datos_con_linea {
    margin-top: 10px;
    padding-left: 20px;
    padding-top: unset;
    font-family: Raleway, sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: black;
}
.block--iepnb-content .block.block-layout-builder.block-field-blocknodepagina-interior-simplebody {
    padding-right: 0;
    padding-left: 0;
}
.block--iepnb-content .contenedor_input_principal img {
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

@media (min-width: 768px) {
.block--iepnb-content  .container {
    	max-width: 750px;
    	width: 750px;
	}

}

@media (min-width: 992px) {
.block--iepnb-content  .container {
    	max-width: 970px;
    	width: 970px;
	}

}

@media (min-width: 1200px) {
.block--iepnb-content  .container {
    	max-width: 1170px;
    	width: 1170px;
	}

}

.block--iepnb-content {
  font-family: sans-serif;
}

.block--iepnb-content .container{
  font-family: sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#iepnb_ckan .container
{
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.block--iepnb-content .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.block--iepnb-content .main {
	background-color: var(--bs-body-bg-rgb);
	background-image: none;
}

#iepnb_ckan h1, #iepnb_ckan h2, #iepnb_ckan h3, #iepnb_ckan h4, #iepnb_ckan h5, #iepnb_ckan h6, 
#iepnb_ckan.h1, #iepnb_ckan.h2, #iepnb_ckan.h3, #iepnb_ckan.h4, #iepnb_ckan.h5, #iepnb_ckan.h6 {
	color: inherit;
}

#iepnb_ckan h1, #iepnb_ckan h2, #iepnb_ckan h3, #iepnb_ckan h4 {
    line-height: 1.5;
}

#iepnb_ckan h1{
	font-size: 28px;
	padding: unset;
}

#iepnb_ckan .btn
{
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#iepnb_ckan .btn-primary {
    color: #fff;
    background-color: #056e36;
    border-color: #749d69;
}

#iepnb_ckan .btn-success {
    color: #fff;
    background-color: #3A833A;
    border-color: #327132;
}